

{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-4">
        <h1>Universo</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, voluptatem?
        </p>
    </div>

    <div class="col-8 w-50 h-75 p-20-px">
        <img src="assets/img/universo3.jpg" alt="img-thumbnail">
    </div>

</div>

{{> footer}}